 
    <h4>a <%= params[:name] %> send message from website</h4>
    <h4>please reply on his email <%= params[:email] %></h4>
    <p>
     Subject :  <%= params[:subject] %>
    </p>
    <p>
      <%=  params[:message] %>
    </p>
 