<section>
        <div id="csi-about" class="csi-about">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="csi-about-img">
                           <%= image_tag "about.png"%>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="csi-about-content-area">
                                <div class="csi-heading">
                                    <h2 class="heading">PUBG Mobile Star Challenge</h2>
                                    <h3 class="subheading">Why FestBros ?</h3>
                                </div>
                                <div class="csi-about-content">
                                    <p class="text">
                                      FestBros is a premiere events company specialized in delivering premium events management solutions at global standards.
                                       FestBros leverages its global strategic partnerships to provide world-class entertainment experiences that go beyond imagination. From the heart-pounding world of eSports tournaments to the bass-driven excitement of music festivals, FestBros is well-positioned to deliver creative, engaging events experiences at the highest possible standard.
With Festbros, you dream it, we plan it. 
                                    </p>
                                    <div class="btn-area">
                                        <a class="csi-btn csi-scroll" href="/livestream">Live Stream </a>
                                        <a class="csi-btn csi-btn-brand" href="#csi-contact">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>