    <section>
        <div class="csi-banner">
            <div class="csi-banner-style">
                <div class="csi-inner">
                    <div class="container">
                        <div class="csi-banner-content">
                            <h3 class="csi-subtitle">You Dream It. </h3>
                            <h2 class="csi-title">We Plan It  </h2>
                            <p class="date">12-14 December 2019, <span>Riyadh Front</span> </p>
                        </div>

                        <div class="csi-countdown-area">
                            <div class="csi-countdown-area-inner">
                                <!-- Date Format :"Y/m/d" || For Example: 1017/10/5  2019/11/20 -->
                                <div id="csi-countdown" data-date='<%=@lunchdate%>'></div>
                            </div>
                        </div>
                    </div>
                    <!-- //.container -->
                </div>
                <!-- //.INNER -->
            </div>
        </div>
    </section>