 <section>
        <div id="csi-countdowns" class="csi-countdowns">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="csi-countdown-area2">
                                <div class="csi-countdown-area-inner">
                                    <!-- Date Format :"Y/m/d" || For Example: 1017/10/5  -->
                                    <div id="csi-countdown"  data-date='<%=@lunchdate%>'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>