 <section>
        <div id="csi-schedule" class="csi-schedule">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-heading csi-heading-white">
                                <h2 class="heading">Event Schedule</h2>
                                <h3 class="subheading">Conferences dedicated to building remarkable events.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="csi-tab">
                                <ul class="nav nav-pills csi-nav">
                                    <li><a  class="active" data-toggle="pill" href="#home"><h3>First <span>Day</span></h3> <p><span>12 </span>Dec, 2019</p></a></li>
                                    <li><a data-toggle="pill" href="#menu1"><h3>Second <span>Day</span></h3> <p><span>13 </span>Dec, 2019</p></a></li>
                                    <li><a data-toggle="pill" href="#menu2"><h3>Third <span>Day</span></h3> <p><span>14 </span>Dec, 2019</p></a></li>
                                </ul>
                                <div class="tab-content csi-tab-content">


                                    <div id="home" class="tab-pane fade in active">

                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <div class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                            <%= image_tag "schedule/logo.jpg"%>
                                                                  
                                                                </div>
                                                                <div class="schedule-info"> 
                                                                    <h4 class="time">5:30 <span>PM</span> - 12:00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Star Challenge World Cup 2019</h3>
                                                                    <%# <h4 class="author-info">By <span>Joanna Smith</span> , Design Apple</h4> %>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                          The world's best PUBG MOBILE teams are coming to Riyadh!
PUBG MOBILE Star Challenge World Cup taking place in Saudi Arabia for the first time!
32 highly-skilled teams from all over the world will compete against each other. Who will be the champion to win the biggest Chicken Dinner of the year?
                                                        </p>
                                                        <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>


                                    <div id="menu1" class="tab-pane fade in">

                                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingTwo2">
                                                    <div class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                     <%= image_tag "schedule/logo.jpg"%>
                                                                </div>
                                                                <div class="schedule-info">
                                                                    <h4 class="time">5:30 <span>PM</span> - 12:00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Star Challenge World Cup 2019</h3>
                                                                    
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseTwo2" class="panel-collapse " role="tabpanel" aria-labelledby="headingTwo">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                           PUBG MOBILE Star Challenge World Cup taking place in Saudi Arabia for the first time!
32 highly-skilled teams from all over the world will compete against each other. Who will be the champion to win the biggest Chicken Dinner of the year?
                                                        </p>
                                                      <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>


                                    <div id="menu2" class="tab-pane fade in">

                                        <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default csi-panel">
                                                <div class="panel-heading" role="tab" id="headingOne3">
                                                    <div class="panel-title">
                                                        <a  role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                                                            <div class="csi-single-schedule">
                                                                <div class="author">
                                                                   <%= image_tag "schedule/logo.jpg"%>
                                                                </div>
                                                                <div class="schedule-info">
                                                                     <h4 class="time">5:30 <span>PM</span> - 12:00 <span>AM</span></h4>
                                                                    <h3 class="title">PUBG MOBILE Star Challenge World Cup 2019</h3>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div id="collapseOne3" class="panel-collapse  " role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        <p class="text">
                                                           PUBG MOBILE Star Challenge World Cup taking place in Saudi Arabia for the first time!
32 highly-skilled teams from all over the world will compete against each other. Who will be the champion to win the biggest Chicken Dinner of the year?
                                                        </p>
                                                      <h4 class="location"><strong>Location:</strong>  Riyadh Front  <span> </span> </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>


                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </section>