   <section>
        <div id="csi-services" class="csi-services">
            <div class="csi-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="csi-single-service">
                                <span class="icon"><i class="fa fa-map-signs" aria-hidden="true"></i></span>
                                <div class="text-area">
                                    <h2 class="title"><a href="#">Events Consultation</a></h2>
                                    <%# <p><strong>Text</strong> text text text text text text text text text text text text </p> %>
                                    <%# <a class="csi-btn-simple" href="#">Read More</a> %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="csi-single-service">
                                <span class="icon"><i class="fa fa-hotel" aria-hidden="true"></i></span>
                                <div class="text-area">
                                    <h2 class="title"><a href="#">Event Management</a></h2>
                                     
                                    <%# <a class="csi-btn-simple" href="#">Read More</a>   %>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="csi-single-service">
                                <span class="icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
                                <div class="text-area">
                                    <h2 class="title"><a href="#">Event Coordination</a></h2>
                                   <%# <p><strong>Text</strong> text text text text text text text text text text text text </p> %>
                                  <%#   <a class="csi-btn-simple" href="#">Read More</a> %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>