  <section>
        <div id="csi-sponsors" class="csi-sponsors">
            <div class="csi-inner-bg">
                <div class="csi-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="csi-heading">
                                    <h2 class="heading">Sponsores</h2>
                                    <h3 class="subheading">Conferences dedicated to building remarkable events.</h3>
                                </div>
                            </div>
                        </div>
                        <!--//main row-->
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="sponsored-heading first-heading">Gold Sponsors</h3>
                                <div class="sponsors-area">
                                    <div class="single">
                                        <a class="" href="#"><%= image_tag "sponsors/sponsor1.png"%></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><%= image_tag "sponsors/sponsor2.png"%></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><%= image_tag "sponsors/sponsor3.png"%></a>
                                    </div>
                                    <div class="single">
                                        <a class="" href="#"><%= image_tag "sponsors/sponsor4.png"%></a>
                                    </div>
                                </div>
                            </div>
                            <!--//col-->
                        </div>
                       
                        
                    </div>
                    <!--//container-->
                </div>
            </div>
            <!--//csi-inner-->
        </div>
    </section>